body{
    background-color: rgba(255, 0, 0, 0.8)
}

#water{
    border: 10px dotted red
}

.layout{

}

.layout{
    color: black
    font-family: cursive
}

table tr:first-child{
    background-color: rgba(250, 250, 250, 0.8)  
}
